{% extends "image.html" %}

{% block first %}

<div class="container mx-auto mt-5">
    <form class="w-full max-w-lg mx-auto bg-gray-100 p-6 rounded-lg shadow-lg" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-2xl font-bold mb-4">Add Notice</h2>
        <hr class="mb-4"/>
        {% if messages %}
        <div class="alert alert-primary mb-4" role="alert">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-4">
            <label for="title" class="block text-gray-700">Give a Title</label>
            <input name="title" required type="text" class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-blue-500"/>
        </div>
        <div class="mb-4">
            <label for="pdf" class="block text-gray-700">Add PDF file</label>
            <input name="pdf" type="file" class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-blue-500"/>
        </div>
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition duration-200">Add Notice</button>
    </form>
</div>

{% endblock %}
