{% extends "image.html" %}

{% block first %}

<div class="container mx-auto mt-5">
    <form class="w-full sm:max-w-lg md:max-w-2xl lg:max-w-10xl xl:max-w-6xl mx-auto bg-green-200 p-8 rounded-lg shadow-lg" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="w-full text-left table-auto">
            <thead>
                <tr class="bg-red-200 text-gray-700">
                    <th scope="col" class="px-4 py-2">Booking ID</th>
                    <th scope="col" class="px-4 py-2">User Name</th>
                    <th scope="col" class="px-4 py-2">User Role</th>
                    <th scope="col" class="px-4 py-2">Room No</th>
                    <th scope="col" class="px-4 py-2">Check In</th>
                    <th scope="col" class="px-4 py-2">Check Out</th>
                    <th scope="col" class="px-4 py-2">Total Price</th>
                    <th scope="col" class="px-4 py-2">Payment Method</th>
                    <th scope="col" class="px-4 py-2">Action</th>
                    <th scope="col" class="px-4 py-2">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for bl in booking_list %}
                <tr class="bg-white border-b border-gray-200">
                    <td class="px-4 py-2">{{ bl.booking_id }}</td>
                    <td class="px-4 py-2">{{ bl.user }}</td>
                    <td class="px-4 py-2">{{ bl.role }}</td>
                    <td class="px-4 py-2">{{ bl.room }}</td>
                    <td class="px-4 py-2">{{ bl.check_in }}</td>
                    <td class="px-4 py-2">{{ bl.check_out }}</td>
                    <td class="px-4 py-2">{{ bl.tot_price }}</td>
                    <td class="px-4 py-2">{{ bl.payment_method }}</td>
                    {% if not bl.confirmed %}
                    <td class="px-4 py-2">
                        <a href="{% url 'approve_booking' bl.booking_id %}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2 transition duration-200" onclick="return confirm('Are you sure you want to approve this booking?');">Approve</a>
                        <a href="{% url 'reject_booking' bl.booking_id %}" class="inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-200" onclick="return confirm('Are you sure you want to reject this booking?');">Reject</a>
                    </td>
                    {% else %}
                    <td class="px-4 py-2"></td>
                    {% endif %}
                    {% if bl.confirmed %}
                    <td class="px-4 py-2 text-green-500 font-semibold">Confirmed</td>
                    {% else %}
                    <td class="px-4 py-2 text-red-500 font-semibold">Not Confirmed</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{% endblock %}
