{% extends "image.html" %}

{% block first %}

<div class="container mx-auto mt-8 mb-20 p-6">
    <div class="bg-gradient-to-r from-green-300 to-green-400 p-6 rounded-lg shadow-lg">
        <h2 class="text-center text-3xl font-bold text-white mb-6">Booking List</h2>
        
        <div class="overflow-x-auto">
            <table class="w-full text-left border border-gray-300 rounded-lg shadow-md">
                <thead class="bg-green-600 text-white text-md uppercase tracking-wider">
                    <tr>
                        <th class="px-1 py-1">Booking ID</th>
                        <th class="px-1 py-1">User Name</th>
                        <th class="px-1 py-1">User Role</th>
                        <th class="px-1 py-1">Room Type</th>
                        <th class="px-1 py-1">Room No</th>
                        <th class="px-1 py-1">Check In</th>
                        <th class="px-1 py-1">Check Out</th>
                        <th class="px-1 py-1">Total Price</th>
                        <th class="px-1 py-1">Payment</th>
                        <th class="px-1 py-1">Status</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-300">
                    {% for bl in booking_list %}
                    <tr class="bg-white hover:bg-gray-100 transition duration-200">
                        <td class="px-1 py-1 text-gray-800 font-medium">{{ bl.booking_id }}</td>
                        <td class="px-1 py-1 text-gray-700">{{ bl.user }}</td>
                        <td class="px-1 py-1 text-gray-700">{{ bl.role }}</td>
                        <td class="px-1 py-1 text-gray-700">{{ bl.room.roomtype }}</td>
                        <td class="px-1 py-1 text-gray-700">{{ bl.room }}</td>
                        <td class="px-1 py-1 text-gray-700">{{ bl.check_in|date:"Y-m-d" }}</td>
                        <td class="px-1 py-1 text-gray-700">{{ bl.check_out|date:"Y-m-d" }}</td>
                        <td class="px-1 py-1 text-gray-800 font-semibold"><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{ bl.tot_price }}</td>
                        <td class="px-1 py-1 text-gray-700">{{ bl.payment_method }}</td>
                        <td class="px-1 py-1 font-semibold {% if bl.confirmed == 1 %} text-green-500 {% else %} text-red-500 {% endif %}">
                            {% if bl.confirmed == 1 %}
                                ✅ Confirmed
                            {% else %}
                                ❌ Not Confirmed
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10" class="text-center py-4 text-gray-600 font-medium">No bookings available</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
