{% extends "image.html" %}

{% block first %}
<div class=" flex items-center justify-center bg-lime-100">
    <form method="post" class="mt-5 mb-5 max-w-md w-full bg-green-200 p-8 rounded-lg shadow-md">
        {% csrf_token %}
        <h2 class="text-center text-2xl font-bold mb-6 text-gray-700">Reset Password</h2>
        {% for field in form %}
		<div class="mb-4">
			<label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
			<div class="mt-1 relative rounded-md shadow-sm">
				{{ field }}
			</div>
			{% if field.errors %}
			<p class="mt-2 text-sm text-red-600">{{ field.errors|striptags }}</p>
			{% endif %}
		</div>
		
		
        {% endfor %}
        <div class="flex justify-between items-center mt-6">
            <input type="submit" value="Send" class="py-2 px-4 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700 cursor-pointer">
            <a href="{% url 'login' %}" class="text-indigo-600 hover:text-indigo-500">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
