{% extends "image.html" %}

{% block first %}
<div class="flex items-center justify-center bg-lime-200">
    <form method="post" class=" mt-5 mb-5 max-w-md w-full bg-green-200 p-8 rounded-lg shadow-md">
        {% csrf_token %}
        <h2 class="text-center text-3xl font-bold mb-6 text-gray-900">Log in to your account</h2>
        {% for field in form %}
        <div class="mb-4">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <small class="text-red-500">{{ field.errors|striptags }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <p class="text-center mb-4"><a href="/login/" class="text-indigo-600 hover:text-indigo-500">Log In</a></p>
        <hr class="mb-4">
        <p class="text-center mb-2">Forgot your password? <a href="{% url 'password-reset' %}" class="text-indigo-600 hover:text-indigo-500">Reset Password</a></p>
        <p class="text-center">Don't have an account? <a href="{% url 'register' %}" class="text-indigo-600 hover:text-indigo-500">Join Now</a></p>
    </form>
</div>
{% endblock %}
